<html>
<head><title> VADIBHAI_FAMILY</title>
<style>
.nd{
position:absolute;
left:30%;
}
button{
background-color:black;
cursor:pointer;
}
</style>
</head>

<body background="../../static/images/bg.jpg">
<center><font size=8 color=teal><b><u>BHARTIBEN</u></b></font><font size=8><b>--</b></font><font size=8 color=teal><b><u>ARVINDBHAI</u></b></font></center>
<div class='nd'>
<ol>
<font size=8><li><a href="bhartiben_children/chirag"><button><font size=8 color=red>CHIRAG</font></button></a></li></font><br><br>
<font size=8><li><a href><button><font size=8 color=red>DIKSHA</font></button></a></li></font>
</ol>
</div>
</body>
</html>