<html>
<head><title> VADIBHAI_FAMILY</title>
<style>
.nd{
position: absolute;
 top: 20%;
  left: 50%;
}
</style>
</head>

<body background='../../../static/images/bg.jpg'>

<img src="../../../static/images/21.jpeg" >
<div class='nd'>
<font size=8 ><u><b>CHETAN</b></u></font><font size=8><b>--</b></font><font size=8 ><u><b>SWETA</b></u></font><br><br>
<font size=6 color="teal"><b>CHETAN_CONTACT =09867561072</b></font><br>
<font size=6 color="teal"><b>SWETA_CONTACT =09967305410</b></font><br>
<font size=6 color="teal"><b>CHILDREN=DHRAMDEV,ASTHA. </b></font>
</div>
</body>
</html>