<html>
<head>
<title> VADIBHAI_FAMILY</title>
<style>
.nd{
position:absolute;
left:30%;
}
button{
background-color:black;
cursor:pointer;
}
</style>
</head>

<body background='../../static/images/bg.jpg'>


<div class='nd'>
<ol>
<font size=6  color="red"><li><a href ="daughter/vimdaben"><button><font size=6 color=red>VIMDABEN</font></button></a></li></font><br>
<font size=6 color="red"><li><a href ="daughter/niruben"><button><font size=6 color=red>NIRUBEN</font></button></a></li></font><br>
<font size=6 color="red"><li><a href ="daughter/hansaben"><button><font size=6 color=red>HANSABEN</font></button></a></li></font><br>
<font size=6 color="red"><li><a href="daughter/bhartiben"><button><font size=6 color=red>BHARTIBEN</font></button></a></li></font><br>
<font size=6 color="red"><li><a href="daughter/kailashben"><button><font size=6 color=red>KAILASHBEN</font></button></a></li></font><br>
<font size=6 color="red"><li><a href="daughter/dharmishthaben"><button><font size=6 color=red>DHARMISHTHABEN</font></button></a></li></font><br>
<font size=6 color="red"><li><a href="daughter/apekshaben"><button><font size=6 color=red>APEKSHABEN</font></button></a></li></font><br>
<font size=6 color="red"><li><a href ="daughter/jinuben"><button><font size=6 color=red>JINUBEN</font></button></a></li></font><br>
<font size=6 color="red"><li><a href ="daughter/gaytriben"><button><font size=6 color=red>GAYTRIBEN</font></button></a></li></font><br>
</ol>
</div>
</body>
</html>

