<html>
<head><title> VADIBHAI_FAMILY</title>
<style>

.dn{
position: absolute;
 top: 20%;
  left: 50%;
}
button{
background-color:black;
cursor:pointer;
}
</style>
</head>

<body background="../../static/images/bg.jpg">
<center><font size=8 color=teal><b><u>DHARMISHTHABEN</u></b></font><font size=8><b>--</b></font><font size=8 color=teal><b><u>HITESHBHAI</u></b></font></center><br><br>

<img src="../../static/images/6.png">
<div class="dn">
<ul>
<font size=8><li><a href="dharmishthaben/dharmishthaben_son"><button><font size=8 color=red>CHILDREN</font></button></a></li></FONT><br><br>
<font size=8><li><a href="dharmishthaben/dharmishthaben_contact"><button><font size=8 color=red>CONTACT</font></button></a></li></font>
</ul>
</div>
</body>
</html>