<html>
<head><title> VADIBHAI_FAMILY</title>
<style>
.nd{
position: absolute;
 top: 20%;
  left: 10%;
}
</style>
</head>

<body background="../../static/images/bg.jpg">
<div class='nd'>
<font size=8 color="red"><u><b>HITESHBHAI_CONTACT</u></b></font><font size=8 ><b> =  </b></font><font size=8 color="purple"><b>9601423813</b></font><br><br>
<font size=8 color="red"><u><b>DHARMISHTHABEN_CONTACT</u></b></font><font size=8 ><b> =  </b></font><font size=8 color="purple"><b>9978266213</b></font><br><br>
</div>
</body>
</html>