<html>
<head><title> VADIBHAI_FAMILY</title>
<style>
.nd{
position: absolute;
 top: 20%;
  left: 45%;
}
</style>
</head>

<body background='../../../static/images/bg.jpg'>

<img src='../../../static/images/14.png'>

<div class='nd'>
<font size=8 ><u><b>HIRAL</b></u></font><font size=8><b>--</b></font><font size=8 ><u><b>NIMESH</b></u></font><br><BR>
<font size=6 color="teal"><b>HIRAL_CONTACT =09664969525</b></font><br>
<font size=6 color="teal"><b>NIMESH_CONTACT =09773617858</b></font><br>
<font size=6 color="teal"><b>CHILDREN=HIYA</b></font>
</div>
</body>
</html>