<html>
<head><title> VADIBHAI_FAMILY</title>
<style>
.nd{
position: absolute;
 top: 20%;
  left: 55%;
}
</style>
</head>

<body background='../../../static/images/bg.jpg'>

<img src="../../../static/images/22.png" width=50% height=100%>
<div class='nd'>
<font size=8 ><u><b>HIREN</b></u></font><font size=8><b>--</b></font><font size=8 ><u><b>KOMAL</b></u></font><br><br>
<font size=6 color="teal"><b>HIREN_CONTACT =09819727987</b></font><br>
<font size=6 color="teal"><b>KOMAL_CONTACT =09821285207</b></font>
</div>
</body>
</html>