<html>
<head>
<title> VADIBHAI_FAMILY</title>
<style>
.nd{
position: absolute;
top: 20%;
left: 50%;
}

</style>
</head>

<body background='../../../static/images/bg.jpg'>

<div>
<img src='../../../static/images/11.png'>
</div>


<div class='nd'>
<font size=8 ><u><b>HITESH</b></u></font><font size=8><b>--</b></font><font size=8 ><u><b>KAMINI</b></u></font><br><br>
<font size=6  color="teal"><b>HITESH_CONTACT =09773404582</b></font><br>
<font size=6 color="teal" ><b>KAMINI_CONTACT =09664030452</b></font><br>
<font size=6 color="teal"><b>CHILDREN=DHARVI,JAINIL. </b></font>
</div>


</body>
</html>