<html>
<head><title> VADIBHAI_FAMILY</title>
<style>

.nd{
left: 5%;
padding: 16px;
margin: 4px;
}
.dn{
left: 5%;
padding: 8px;
margin: 8px;
}
.dd{
width:25%;
margin:13px;
}
button{
background-color:black;
cursor:pointer;
}

</style>
</head>
<body background='../../static/images/bg.jpg'>
<table height=100% width=100%>
<tr>

<td>
<div class='nd'><font size=8 color='teal' ><u><b>VADIBHAI</b></u></font>&nbsp;&nbsp;&nbsp;<font size=8 color='teal'><u><b>FAMILY</b></u></font></div>
<div class='dn'><font size=8 color='lightstealblue' ><u><b>VADIBHAI</b></u></font><font size=8><b>--</b></font><font size=8 color='lightstealblue'><u><b>DAHIBEN</b></u></font></div><br><br>
<div class='dd'>
<button type="button" ><a href="daughter"><font size=6 color="red">DAUGHTERS</font></a></button><br><br>
<button type="button" ><a href="picture"><font size=6 color="red">PICTURE</font></a></button ><br><br>
<button type="button" ><a href="contact"><font size=6 color="red">CONTACTS</font></a></button ><br>
</ul>
</div>
</td>


<td>
<div class="nn">
<img src='../../static/images/123.jpeg' > 
</div>
</td>

</tr>
</table>
</body>
</html>