<html>
<head><title> VADIBHAI_FAMILY</title>
<style>
.nd{
position: absolute;
 top: 20%;
  left: 50%;
}
</style>
</head>

<body background='../../../static/images/bg.jpg'>

<img src='../../../static/images/12.png' width=40% height=100%>

<div class='nd'>
<font size=8 ><u><b>JIGNASHA</b></u></font><font size=8><b>--</b></font><font size=8 ><u><b>YOGESH</b></u></font><br><br><br>
<font size=6 color="teal"><b>JIGNASHA_CONTACT=09820540801</b></font><br>
<font size=6 color="teal"><b>YOGESH_CONTACT=07666609045</b></font><br>
<font size=6 color="teal"><b>CHILDREN=TIRTH,HETVI.</b></font>
</div>

</body>
</html>