<html>
<head><title> VADIBHAI_FAMILY</title>
<style>
.nd{
position: absolute;
 top: 20%;
  left: 60%;
}
</style>
</head>

<body background="../../../static/images/bg.jpg">

<img src="../../../static/images/31.png"></p>
<div class='nd'>
<font size=8 ><u><b>JIGNESH</b></u></font><font size=8><b>--</b></font><font size=8 ><u><b>ANITA</b></u></font><br><br>
<font size=6 color="teal"><b>JIGNESH_CONTACT =09920490234</b></font><br>
<font size=6 color="teal"><b>ANITA_CONTACT =07738649304</b></font><br>
<font size=6 color="teal"><b>CHILDREN=VEERA </b></font>

</body>
</html>