<html>
<head><title> VADIBHAI_FAMILY</title>
<style>
.nd{
position: absolute;
 top: 20%;
  left: 10%;
}
</style>
</head>

<body  background="../../static/images/bg.jpg">
<div class='nd'>
<font size=8 color="red"><u><b>HARSHADBHAI_CONTACT</u></b></font><font size=8 ><b> =  </b></font><font size=8 color="purple"><b>09702243620</b></font><br><br>
<font size=8 color="red"><u><b>JINUBEN_CONTACT</u></b></font><font size=8 ><b> =  </b></font><font size=8 color="purple"><b>09082557254</b></font><br><br>

</div>

</body>
</html>