<html>
<head><title> VADIBHAI_FAMILY</title>
<style>

.dn{
position: absolute;
 top: 20%;
  left: 50%;
}
button{
background-color:black;
cursor:pointer;
}
</style>
</head>

<body background="../../static/images/bg.jpg">
<center><font size=8 color=teal><b><u>KAILASHBEN</u></b></font><font size=8><b>--</b></font><font size=8 color=teal><b><u>NAVINBHAI</u></b></font></center><br><br>

<img src="../../static/images/5.png">
<div class="dn">
<ul>
<font size=8><li><a href="kailashben/kailashben_children"><button><font size=8 color=red>CHILDREN</font></button></a></li></font><br><br>
<font size=8><li><a href="kailashben/kailashben_contact"><button><font size=8 color=red>CONTACT</font></button></a></li></font>
</ul>
</div>
</body>
</html>