<html>
<head><title> VADIBHAI_FAMILY</title>
<style>
.nd{
position:absolute;
left:30%;
}
button{
background-color:black;
cursor:pointer;
}
</style>
</head>

<body background="../../static/images/bg.jpg">
<center><font size=8 color=teal><b><u>KAILASHBEN</u></b></font><font size=8><b>--</b></font><font size=8 color=teal><b><u>NAVINBHAI</u></b></font></center>
<div class='nd'>
<ol>
<font size=8><li><a href="kailashben_children/ritesh"><button><font size=8 color=red>RITESH</font></button></a></li></font><br><br>
<font size=8><li><a href="kailashben_children/kushboo"><button><font size=8 color=red>KHUSHBOO</font></button></a></li></font>
</ol>
</div>
</body>
</html>