<html>
<head>
<title> VADIBHAI_FAMILY</title>
<style>
.nd{
position: absolute;
 top: 20%;
  left: 10%;
}
</style>
</head>

<body background='../../static/images/bg.jpg'>
<div class='nd'>
<font size=8 color="red"><u><b>HASMUKHBHAI_CONTACT</u></b></font><font size=8 ><b> =  </b></font><font size=8 color="purple"><b>09821685056</b></font><br><br>
<font size=8 color="red"><u><b>VIMDABEN_CONTACT </u></b></font><font size=8 ><b> =  </b></font><font size=8 color="purple"><b>09892656052</b></font>
</div>

</body>
</html>